.packTable{
    display: grid;
    grid-template-areas:
        'title title'
        'search btn'
        'packs packs';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 30px 1fr;

    &_title{
        grid-area: title;
    }
    div:nth-last-child(3n){
        grid-area: search;
    }
    &_btn{
        grid-area: btn;
    }
    table:nth-of-type(1){
        grid-area: packs;
        margin-top: 25px;
    }
}

.btn_section{
    display: flex;
    min-width: 200px;
    width: 40vw;
    justify-content: start;
    margin: 15px 0;
    label{
        min-width: 55px;
        padding-top: 5px;
        flex-basis: 50px;
        span{
            margin-left: 5px;
        }
    }
    span{
        max-width: 15vw;
    }
}