.menu {
    div{
        top: 0 !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        box-shadow: none;
        ul{
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }
}
.active{
    color:brown;
}
.inactive{
    color: green;
}