@import "./style/gnel.module.scss";

*{
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: $primary;
}

:root {
	--light-grey: #d7e0e0;
	--dark-grey: #c5c5c5;
}

body {
	margin: 0 auto;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	background: var(--light-grey);
}

body * {
	box-sizing: border-box;
	outline: none;
}
.App{
	display: flex;
	justify-content:center;
	flex-direction: column;
	align-items:center;
	background-color:transparent;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.error {
    color: #e82323;
    font-size: 16px;
    margin: 10px 0 25px 0;
    height: 10px;
}
