@import "../../..../../s-1-main/app/style/gnel.module.scss";

.appProgress{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}
.answer__block_txt {
    margin-bottom: 25px;
    p{
        margin: 5px auto;
    }
}
.rate {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    
    span{
        color: $primari-light;
        font-size: .8rem;
    }
}