
@import "../../../s-1-main/app/style/gnel.module.scss";

.container {
    width: 80%;

    &_items {
        position: relative;
    }

    input {
        padding: 3px 25px 3px 5px;
        width: 100%;
        border: solid 1.5px $primary;
        border-radius: 5px;
        &::placeholder{
            color:$secondary;
        }
    }
    .eye {
        position: absolute;
        top: 51%;
        left: calc(100% - 20px);
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;

        &_open {
            background: url(../../../s-3-assets/svg/eye_visible_unhide_icon_132914.svg) 50% 50% no-repeat;
        }

        &_close {
            background: url(../../../s-3-assets//svg/hidden_eye_hide_icon_132911.svg) 50% 50% no-repeat;
        }
    }

}
   


